* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(204, 202, 202);
}

li {
  list-style: none;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
}
header nav .container-fluid .logo {
  width: 350px;
}

nav {
  width: 80%;
}
nav .navbar-toggler {
  background-color: white;
}
nav .navbar-nav {
  font-size: 18px;
}
nav .navbar-nav .nav-item {
  margin: 10px;
  color: white;
}
nav .navbar-nav .nav-item:hover {
  background-color: orange;
  border-radius: 8px;
  color: black;
}
nav .navbar-nav .nav-item .nav-link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  border-radius: 8px;
}
nav .navbar-nav .nav-item .nav-link.active {
  color: orange;
}
nav .navbar-nav .nav-item .nav-link.active:hover {
  color: black;
}

@media (max-width: 576px) {
  nav {
    width: 100%;
  }
  header nav .container-fluid .logo {
    width: 290px;
  }
}
main {
  display: flex;
  justify-content: center;
}

.contenido-principal {
  width: 80%;
  height: 100%;
  background-color: white;
  padding-bottom: 20px;
  min-height: 80vh;
}

body {
  font-family: "Comfortaa", cursive;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 30px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  height: 45px;
}

h2 {
  height: 77px;
}

h3 {
  margin-top: 10px;
  height: 54px;
}

h4 {
  margin-left: 10px;
  margin-bottom: 0px;
}

@media (max-width: 576px) {
  h1 {
    height: 73px;
    margin-bottom: 15px;
  }
}
.carousel-control-next,
.carousel-control-prev {
  width: 5%;
}

.categorias {
  margin-top: 86px;
  margin-right: 10px;
  margin-left: 3px;
  color: black;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.categorias h2 {
  height: 40px;
  font-size: 25px;
  margin-bottom: 11px;
}
.categorias ul {
  padding: 0px;
}
.categorias ul li {
  padding: 3px 3px;
  border-bottom: outset;
  border-radius: 3px;
  border-width: 1px;
  margin-bottom: 5px;
}
.categorias ul li:hover {
  background-color: rgb(245, 142, 8);
  cursor: pointer;
}
.categorias ul li a {
  font-size: 16px;
  font-weight: 500;
  color: black;
  text-decoration: none;
}

.novedades {
  margin-top: 10px;
  width: 82%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
}
.novedades .tarjeta {
  color: black;
  width: 220px;
  border-radius: 8px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  text-align: center;
  margin: 10px 5px;
}
.novedades .tarjeta:hover {
  transform: translateY(-10px);
  background: linear-gradient(white, orange);
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.novedades .tarjeta h3 {
  font-size: 15px;
}
.novedades .tarjeta img {
  max-width: 100%;
  background-color: white;
}

@media (max-width: 576px) {
  .contenido-principal {
    width: 100%;
  }
  .novedades {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.img-personas {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.p-nosotros {
  margin: 0px 20px;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 35px;
}

@media (max-width: 576px) {
  .contenido-principal .nosotros-titulo h1 {
    height: 30px;
  }
  .contenido-principal .img-personas {
    width: 80%;
  }
  .contenido-principal .p-nosotros {
    text-align: left;
    margin-left: 5px;
    margin-right: 5px;
  }
}
.cambios-banner {
  width: 100%;
  height: auto;
}

.cambios-y-garantias {
  display: flex;
  flex-wrap: wrap;
}
.cambios-y-garantias p {
  font-size: 18px;
  margin-top: 10px;
  margin-left: 10px;
}

@media (max-width: 576px) {
  .cambios-y-garantias {
    text-align: left;
  }
  .cambios-y-garantias p {
    margin: 0px 5px;
  }
}
.contacto {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.contacto .titulo-contacto {
  font-size: 30px;
  height: 40px;
  text-align: center;
  width: 100%;
}
.contacto .formularios {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  max-width: 100%;
}
.contacto .formularios ul {
  padding: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacto .formularios ul .nombre-y-apellido {
  display: flex;
}
.contacto .formularios ul .telefono-y-mail {
  display: flex;
}
.contacto .formularios ul li {
  padding: 10px 10px;
}
.contacto .formularios ul li input {
  width: 200px;
  padding: 5px 5px;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}
.contacto .formularios ul li textarea {
  width: 435px;
  height: 250px;
  padding: 5px 5px;
  border-style: solid;
  border-radius: 6px;
}

@media (max-width: 576px) {
  .contacto {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  .contacto iframe {
    margin-bottom: 20px;
  }
  .contacto .formularios ul {
    padding: 0;
  }
  .contacto .formularios ul .nombre-y-apellido {
    flex-direction: column;
  }
  .contacto .formularios ul .telefono-y-mail {
    flex-direction: column;
  }
  .contacto .formularios ul li textarea {
    display: block;
    max-width: 70%;
    height: 220px;
    margin-left: auto;
    margin-right: auto;
  }
}
.titulo-carrito {
  margin: 50px 0px;
  height: auto;
  font-size: 20px;
  text-align: center;
}

.compra {
  display: flex;
  justify-content: space-evenly;
}
.compra .productos {
  color: black;
  border-radius: 7px;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  max-width: 65%;
  margin-bottom: 50px;
  height: 500px;
}
.compra .productos .producto-carrito {
  display: flex;
  padding: 30px 30px;
  color: black;
  border-style: outset;
  border-width: 1px;
  border-radius: 8px;
  border-color: rgba(0, 0, 0, 0.2);
  padding: 20px 20px;
  margin: 20px 20px;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
}
.compra .productos .producto-carrito img {
  width: 150px;
}
.compra .productos .producto-carrito h3 {
  margin: 30px;
  font-size: 20px;
}
.compra .resumen-compra {
  height: 500px;
  color: black;
  box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.compra .resumen-compra .total {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}
.compra .resumen-compra .total .p-total {
  font-weight: 600;
  font-size: 17px;
}
.compra .resumen-compra .total .p-precios {
  text-align: right;
}

@media (max-width: 576px) {
  .titulo-carrito {
    margin: 15px 0px;
  }
  .compra {
    flex-direction: column;
    align-items: center;
  }
  .compra .productos {
    max-width: 85%;
    flex-direction: column;
    height: auto;
  }
  .compra .productos .producto-carrito {
    width: auto;
    height: auto;
    flex-direction: column;
  }
  .compra .productos .producto-carrito h3 {
    font-size: 20px;
    margin: 12px 0px;
    height: 75px;
    text-align: center;
  }
  .compra .productos .producto-carrito p {
    margin: 0px;
  }
  .compra .resumen-compra {
    height: auto;
  }
  .compra .resumen-compra h2 {
    margin: 0px;
    height: 30px;
  }
}
button {
  padding: 10px 30px;
  border-radius: 6px;
  font-size: 25px;
  cursor: pointer;
  color: white;
  background-color: black;
}
button:hover {
  background-color: orange;
  color: black;
}

footer {
  width: 100%;
  height: 130px;
  background-color: black;
  display: flex;
  justify-content: center;
  color: white;
}
footer .footer {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .footer .info-footer p {
  margin: 0px;
}
footer .footer .logo-footer {
  width: 110px;
}
footer .footer .redes a {
  padding: 0px 10px;
  color: white;
  text-decoration: none;
}
footer .footer .redes a:hover {
  color: orange;
}

@media (max-width: 576px) {
  .logo-footer {
    width: 90px;
    margin: 10px 0px;
  }
  footer {
    height: auto;
  }
  footer .footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0px;
    justify-content: space-evenly;
  }
  footer .footer .info-footer {
    font-size: 12px;
    text-align: center;
  }
  footer .footer .info-footer p {
    font-size: 18px;
  }
  footer .redes {
    font-size: 12px;
  }
}

/*# sourceMappingURL=main.css.map */
