header {
    background-color: black;
    display: flex;
    justify-content: center;

    nav {
        .container-fluid {
            .logo {
                width: 350px;
            }
        }
    }
}