nav {
    width: 80%;

    .navbar-toggler {
        background-color: white;
    }

    .navbar-nav {
        font-size: 18px;

        .nav-item {
            margin: 10px;
            color: white;

            &:hover {
                background-color: orange;
                border-radius: 8px;
                color: black;
            }

            .nav-link {
                text-decoration: none;
                color: rgb(255, 255, 255);
                border-radius: 8px;
            }

            .nav-link.active {
                color: orange;

                &:hover {
                    color: black;
                }
            }
        }
    }
}

// Media Queries //

@media (max-width:576px) {
    nav {
        width: 100%;
    }

    header nav .container-fluid .logo {
        width: 290px;
    }
}