
.cambios-banner {
    width: 100%;
    height: auto;
}

.cambios-y-garantias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cambios-y-garantias p {
    padding: 0px 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
}