.cambios-banner {
    width: 100%;
    height: auto;
}

.cambios-y-garantias {
    display: flex;
    flex-wrap: wrap;

    p {
        font-size: 18px;
        margin-top: 10px;
        margin-left: 10px;
    }
}

// Media queries //

@media (max-width:576px) {

    .cambios-y-garantias {
        text-align: center;

        p {
            margin: 0px 5px;
        }
    }
}