.titulo-carrito {
    margin: 50px 0px;
    height: auto;
    font-size: 20px;
    text-align: center;
}

.compra {

    display: flex;
    justify-content: space-evenly;

    .productos {
        border-style: solid;
        border-radius: 7px;
        border-width: 4px;
        max-width: 65%;
        margin-bottom: 50px;
        height: 500px;

        .producto-carrito {
            display: flex;
            padding: 30px 30px;
            border-style: solid;
            border-radius: 7px;
            padding: 20px 20px;
            margin: 20px 20px;
            justify-content: space-between;
            align-items: center;
            max-width: 100%;

            img {
                width: 150px;
            }

            h3 {
                margin: 30px;
                font-size: 20px;
            }
        }
    }

    .resumen-compra {
        height: 500px;
        border-style: solid;
        border-radius: 7px;
        border-width: 4px;
        margin-bottom: 30px;
        padding: 15px 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .total {
            display: flex;
            margin-top: 50px;
            justify-content: space-between;

            .p-total {
                font-weight: 600;
                font-size: 17px;
            }

            .p-precios {
                text-align: right;
            }
        }
    }
}

// Media queries //

@media (max-width:576px) {

    .titulo-carrito {
        margin: 15px 0px;
        height: 65px;
    }

    .compra {
        flex-direction: column;
        align-items: center;

        .productos {
            max-width: 85%;
            flex-direction: column;
            height: auto;

            .producto-carrito {
                width: auto;
                height: auto;
                flex-direction: column;

                h3 {
                    font-size: 20px;
                    margin: 12px 0px;
                    height: 75px;
                    text-align: center;
                }

                p {
                    margin: 0px;
                }
            }
        }

        .resumen-compra {
            height: auto;

            h2 {
                margin: 0px;
                height: 30px;
            }
        }
    }


}