.img-personas {
    width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.p-nosotros {
    margin: 0px 20px;
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 35px;
}

// Media Querie //

@media (max-width:576px) {

    .contenido-principal {
        .nosotros-titulo {
            h1 {
                height: 30px;
            }
        }

        .img-personas {
            width: 80%
        }

        .p-nosotros {
            text-align: center;
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}